Host bastion
    User                   $JUMP_USER
    HostName               $JUMP_HOST
    ProxyCommand           none
    BatchMode              yes
    PasswordAuthentication no
    ForwardAgent           yes
    StrictHostKeyChecking  no

Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -q -A $JUMP_USER@$JUMP_HOST nc %h %p
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlMaster          auto
    ControlPersist         8h
    UserKnownHostsFile     /dev/null
    StrictHostKeyChecking  no
